FilingHostService/Connected Services/CourtRecordMDEService/CourtRecordMdeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourtRecordMdeService" targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_CourtRecordMDEService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssX509V3Token10 />
              </wsp:Policy>
            </sp:X509Token>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_CourtRecordMDEService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/Imports">
      <xsd:import schemaLocation="https://california-stage.tylerhost.net/EFM/CourtRecordMDEService.svc?xsd=xsd0" namespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CourtRecordMDEService_RecordFiling_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordFiling" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_RecordFiling_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordFilingResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_CreateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCase" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_CreateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetCaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseList" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetCaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseListResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCase" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformation" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceInformationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationHistory" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceInformationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceAttachCaseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAttachCaseList" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_GetServiceAttachCaseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAttachCaseListResponse" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_NotifyReceiptComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyReceiptComplete" />
  </wsdl:message>
  <wsdl:message name="CourtRecordMDEService_NotifyReceiptComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyReceiptCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="CourtRecordMDEService">
    <wsdl:operation name="RecordFiling">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/RecordFiling" message="tns:CourtRecordMDEService_RecordFiling_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/RecordFilingResponse" message="tns:CourtRecordMDEService_RecordFiling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/CreateCase" message="tns:CourtRecordMDEService_CreateCase_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/CreateCaseResponse" message="tns:CourtRecordMDEService_CreateCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseList">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCaseList" message="tns:CourtRecordMDEService_GetCaseList_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCaseListResponse" message="tns:CourtRecordMDEService_GetCaseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCase" message="tns:CourtRecordMDEService_GetCase_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCaseResponse" message="tns:CourtRecordMDEService_GetCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetDocument" message="tns:CourtRecordMDEService_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetDocumentResponse" message="tns:CourtRecordMDEService_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformation" message="tns:CourtRecordMDEService_GetServiceInformation_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformationResponse" message="tns:CourtRecordMDEService_GetServiceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformationHistory">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformationHistory" message="tns:CourtRecordMDEService_GetServiceInformationHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformationHistoryResponse" message="tns:CourtRecordMDEService_GetServiceInformationHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceAttachCaseList">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceAttachCaseList" message="tns:CourtRecordMDEService_GetServiceAttachCaseList_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceAttachCaseListResponse" message="tns:CourtRecordMDEService_GetServiceAttachCaseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyReceiptComplete">
      <wsdl:input wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/NotifyReceiptComplete" message="tns:CourtRecordMDEService_NotifyReceiptComplete_InputMessage" />
      <wsdl:output wsaw:Action="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/NotifyReceiptCompleteResponse" message="tns:CourtRecordMDEService_NotifyReceiptComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_CourtRecordMDEService" type="tns:CourtRecordMDEService">
    <wsp:PolicyReference URI="#BasicHttpBinding_CourtRecordMDEService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordFiling">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/RecordFiling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/CreateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseList">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformationHistory">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformationHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceAttachCaseList">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceAttachCaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReceiptComplete">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/NotifyReceiptComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_CourtRecordMDEService1" type="tns:CourtRecordMDEService">
    <wsp:PolicyReference URI="#BasicHttpBinding_CourtRecordMDEService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordFiling">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/RecordFiling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/CreateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseList">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformation">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInformationHistory">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceInformationHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceAttachCaseList">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/GetServiceAttachCaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReceiptComplete">
      <soap:operation soapAction="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0/CourtRecordMDEService/NotifyReceiptComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourtRecordMdeService">
    <wsdl:port name="BasicHttpBinding_CourtRecordMDEService" binding="tns:BasicHttpBinding_CourtRecordMDEService">
      <soap:address location="https://california-stage.tylerhost.net/EFM/CourtRecordMDEService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_CourtRecordMDEService1" binding="tns:BasicHttpBinding_CourtRecordMDEService1">
      <soap:address location="https://california-stage.tylerhost.net/EFM/CourtRecordMDEService.svc/test" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>